// main: ../style.less

.btn {
    padding: 10px 32px;
    font-size: 16px;
    font-weight: 700;
    color: @white;
    background-color: @red;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    &:hover{
        background-color: #CC221B;
    }

}

// @media (max-width: 740px ) {
//     .btn {
//         margin-top: 20px;
//     }
// }

