// main: ../style.less

.header {
  margin-top: 38px;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__title {
  margin-left: 12px;
  font-size: 20px;
  font-weight: 500;
  color: @gray;
}

.header__login {
  font-size: 16px;
  font-weight: 500;
  color: @gray;

  &:focus {
      outline: none;
  }
}
